#  -*- mode: conf; -*-
#
########################################################################
#
#PROJECT:      Unified Sessions Manager
#AUTHOR:       Arno-Can Uestuensoez - acue@UnifiedSessionsManager.org
#MAINTAINER:   Arno-Can Uestuensoez - acue_sf1@sourceforge.net
#SHORT:        ctys
#CALLFULLNAME: Commutate To Your Session
#LICENCE:      GPL3
#VERSION:      01_11_011
#
########################################################################
#
# Copyright (C) 2010 Arno-Can Uestuensoez (UnifiedSessionsManager.org)
#
########################################################################
#
[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=GROUPS
Comment=Edit GROUPS
Comment[en]=Edit GROUPS
Comment[de]=Editieren GROUPS
Name[en]=GROUPS
Name[de]=GROUPS
Exec=_MYHOME_/bin/ctys-groups.sh -e
Icon=text-editor
Terminal=false
Categories=X-USM;
